@model Product
@{
    ViewData["Title"] = "New Product";
}
<table class="CreateTable">
    <form asp-action="Create" method="post">
    <tr>
        <td colspan=2 height=50px>
                       <h4 style="color:#0077b3">Add Product</h4>
        </td>
    </tr>
    <tr>
        <td>
            <b>ProductId</b>
        </td>
        <td>
            <div class="mb-3">
                    @Html.TextBoxFor(m => m.ProductId)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b> ProductName</b>
        </td>
        <td>
            <div class="mb-3">
                    @Html.TextBoxFor(m => m.ProductName)
            </div>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <button asp-controller="Products" asp-action="Create" onclick="confirmsave()" class="btn alert-info">Add Product</button>
        </td>
    </tr>
    </form>
</table>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">
    function confirmsave() {
        Swal.fire({
            title: "Product Added Succesfully!!!!",
            confirmButtonText: 'Ok',
            confirmButtonColor:"green",
            RedirectActionTo:"Index"
        })
    }
</script>
}

